atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
coloredlogs==14.0
coverage==5.1
distlib==0.3.0
empy==3.3.4
get==2019.4.13
humanfriendly==8.2
idna==2.9
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
post==2019.4.13
public==2019.4.13
py==1.8.1
PyICU @ file:///D:/Python/projects/Telegram_bot2/PyICU-2.4.3-cp38-cp38-win32.whl
pyparsing==2.4.7
pyreadline==2.1
PySocks==1.7.1
pyTelegramBotAPI==3.7.1
pytest==5.4.2
pytest-cov==2.9.0
pytest-repeat==0.8.0
pytest-rerunfailures==9.0
query-string==2019.4.13
requests==2.23.0
six==1.14.0
urllib3==1.25.9
wcwidth==0.1.9
